<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suppledesign.datasource.credential.UserMapper">

    <resultMap id="user" type="com.suppledesign.model.credential.UserBasis">
        <result property="username" column="login_id"/>
        <result property="password" column="password" />
    </resultMap>
    
    <resultMap id="suthority" type="org.springframework.security.core.authority.SimpleGrantedAuthority">
        <constructor>
            <arg column="authority"/>
        </constructor>
    </resultMap>

    <select id="findByUsername" resultMap="user">
        SELECT login_id, password
        FROM loginuser.users
        WHERE login_id = #{username}
    </select>

    <select id="rolesOf" resultType="org.springframework.security.core.GrantedAuthority">
        SELECT authority FROM loginuser.authorities
        WHERE user_id = (SELECT user_id FROM loginuser.users WHERE login_id = ${username})
    </select>

</mapper>