<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suppledesign.datasource.credential.UserMapper">

    <resultMap id="user" type="com.suppledesign.model.credential.User">
        <result property="username" column="login_id"/>
        <result property="password" column="password" />
    </resultMap>

    <select id="findByUsername" resultMap="user">
        SELECT login_id, password
        FROM loginuser.users
        WHERE login_id = #{username}
    </select>

    <!--<select id="listRolesOf"-->

</mapper>